
body {
    background-color: #ededed;
    color: #333;
    font-family: 'Bebas Neue', cursive;
}

main {
    margin: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.controlPanel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width:200px;
}

.button {
    background: #333;
    color: #ededed;
    text-align: center;
    font-size: 24px;
    font-family: 'Bebas Neue', cursive;
    width: 200px;
    padding: 12px;
    border-radius: 8px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
    text-transform: uppercase;
    margin:  0px 0px 32px 0px;
    cursor: pointer;
}

.active {
    opacity: 0.8;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 200px;
    height: 10px;
    border-radius: 32px;
    background: #fefefe;
    outline-style: solid;
    outline-color: #333;
    outline-width: 1px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #333;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #333;
    cursor: pointer;
    border-radius: 50%;
}

#sliderValue {
    font-size: 24px;
}

.etchasketch {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #cd0000;
    border: 16px outset #ff0000;
    border-radius: 8px;
    width: 80vh;
    height: 80vh;
}

.title {
    color:gold;
    font-size: 54px;
    font-family: 'Bonheur Royale';
    padding: 8px;
}

#drawingBoard {
    background-color: #ededed;
    display:grid;
    height: 70vh;
    width: 70vh;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin:16px;
}

footer {
    height: 10vh;
    text-align: center;
}